<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
    <link rel="stylesheet" href="../static/css/variables.css">
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="stylesheet" href="../static/css/variables-override.css">
</head>
<body style="display: flex; flex-direction: column; align-items: center; justify-content: center">
<h2>Uh oh!</h2>
<img style="width: 20%;" id="daisy-image" src="/static/images/error.png">
<h3>Something went wrong, and you lost connection to the game!</h3>
<a href="/">Return to Daisy</a>

<script src="/static/scripts/shared.js"></script>
<script>setGradientPosition()</script>
</body>
</html>