<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Daisy Roadmap</title>
    <link rel="stylesheet" href="../static/css/variables.css">
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="stylesheet" href="../static/css/roadmap.css">
</head>
<body>
  <h2>Planned Features</h2>
  <ul>
      <li class="done">Recovery codes</li>
      <li class="priority">Custom display names</li>
      <li>Achievements</li>
      <li>Chat Improvements</li>
      <ul>
          <li>History</li>
          <li>Better colors</li>
          <li>Formatting?</li>
      </ul>
  </ul>
</body>
</html>